.card {
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,.24);
    transition: background-color .5s ease;
}
.card,
.card-header,
.card-footer {
    border: none;
    border-radius: 0;
}
.card-header {
    padding: .8rem;
}
.card-header,
.card-footer {
    background-color: transparent;
}
#location-wrapper {
    font-size: 1.1rem;
}
#location-wrapper p {
    font-size: .8rem;
}
.card-body {
    padding: 1.5rem 0;
}

#indicator {
    position: relative;
    height: 165px;
}
#indicator i {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    margin: -8% 0 0 -25%;
}
canvas {
    width: 100%;
    margin-bottom: .2rem;
}
.card-body,
.card-footer {
    text-align: center;
}
.card-footer {
    padding: .5rem .5rem;
}
#helper-row {
    padding-top: 1rem;
    width: 100%;
    margin: auto;
}
h1 {
    font-size: 1.6rem;
}
h2 {
    font-size: 1.2rem;
}
h3 {
    font-size: 1rem;
}
.pointer {
    cursor: pointer;
}

/*** Refresh Overlay ***/
.container {
    position: relative;
    width: 100%;
  }
.container:hover .overlay {
    opacity: 1;
  }
  #icon:hover {
      visibility: hidden;
  }
.overlay {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: transparent;
  }
  .text {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }